#mainHome1 {
    background-image: url(../../media/images/Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    margin-top: -80px;
    background-attachment: fixed;
}
.mainHome_content{
    transform: translate(0%, 90%);
    width: 50%;
    margin-left: 0px !important;
    align-items: center;
}
.mainHome_content h1{
    font-size: 54px;
    letter-spacing: 1px;
    font-weight: 700;
}
.mainHome_content span{
    color: green;
}
.typewriter-wrapper {
    display: inline-block;
    min-width: 200px; /* Adjust to match the longest word in your typewriter list */
    text-align: left;
    white-space: nowrap; /* Prevents line break in the text */
    overflow: hidden;
}

/*----HomeSection1 ---- Start-----*/
#homeSectionOne h1{
    font-weight: 700;
}
#homeSectionOne span{
    color: green;
}
#homeSectionOne img{
    width: 23%;
    margin: auto;
}
/*----HomeSection1---- End -----*/



/*----HomeSection2---- Start-----*/

#homeSectionTwo img{
    width: 100%;
    max-width: 496px;
}
#homeSectionTwo h1{
    font-weight: 700;
}
#homeSectionTwo span{
    color: green;
}

/*----HomeSection2---- End-----*/



/*-----HomeSection3---- Start-----*/



/*-----HomeSection3---- End-----*/


/*-----HomeSection4---- Start-----*/

/* #homeSectionFour img{
    width: 100%;
    max-width: 495px;
} */
#homeSectionFour h1{
    font-weight: 700;
}
#homeSectionFour span{
    color: green;
}
#homeSectionFour ul{
    padding-left: 0;
}
#homeSectionFour ul li{
    list-style: none;
}

#seoImg {
    background-image: url(../../media/images/becomeSEO.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 50vh;
    margin-top: -80px;
    background-attachment: fixed;
}

.seoBackImg{
    background-color: rgba(0, 0, 0, 0.5);
    height: 50vh; 
    z-index: 1;
}

/* .image-layer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.image-layer img {
    position: relative;
    z-index: 2;
} */
/*-----HomeSection4---- End-----*/

